---
permalink: /current-sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}
{% if item.url and not (item.url | isDiscountUrl) and item.url != page.url %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {% if item.date %}<lastmod>{{ item.date | htmlDateString }}</lastmod>{% endif %}
  </url>
{% endif %}
{% endfor %}
{% for topicPage in collections.topicArchivePages %}
{% if topicPage.topic.key == "opiniones" and topicPage.pageNumber > 1 %}
  <url>
    <loc>{{ site.url }}{{ topicPage.url }}</loc>
  </url>
{% endif %}
{% endfor %}
</urlset>
