---
permalink: /current-sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set sitemapUrls = collections.all | unifiedSitemapUrls(anyasSitemap.groups, collections.topicArchivePages) %}
{% for item in sitemapUrls %}
  <url>
    <loc>{{ site.url }}{{ item.path }}</loc>
    {% if item.lastmod %}<lastmod>{{ item.lastmod }}</lastmod>{% endif %}
  </url>
{% endfor %}
</urlset>
