---
pagination:
  data: anyasSitemap.groups
  size: 1
  alias: sitemapGroup
permalink: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in sitemapGroup.urls | uniqueLocalizedSitemapUrls %}
{% if not (item.path | isDiscountUrl) %}
  <url>
    <loc>{{ site.url }}{{ item.path | localizeUrl }}</loc>
    {% if item.lastmod %}<lastmod>{{ item.lastmod }}</lastmod>{% endif %}
  </url>
{% endif %}
{% endfor %}
</urlset>
